<!DOCTYPE html>
<html>
<head>
<title>Reset Password | Sent</title>
<!-- Begin styles -->
<link rel="stylesheet" type="text/css" href="../../../static/styles/plugins/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../../static/styles/custom/login-style.css">
<link rel="stylesheet" type="text/css" href="../../../static/styles/custom/base.css">
<body>
<div class="outer">
	<div class="middle">
		<div class="inner">

			<div class="intro">
				<img src="../../../static/images/logo/jpeg/main_logo.jpeg" />
				<h3>Hardcore learning.</h3>
			</div>

			<div>
				<p style="margin-bottom: 20px; font-size: 1.5em;">
				Check your inbox to reset your password</p>
			</div>
		</div>
	</div>
</div>
<script type='text/javascript' src='../../../static/scripts/plugins/jquery-1.11.2.min.js'></script>
<script type="text/javascript" src="../../../static/scripts/plugins/jquery.backstretch.min.js"></script>
<script>
$(document).ready(function(){
	$.backstretch("../../../static/images/login_background.svg");
});
</script>
</body>
</html>