{% extends "lessons/base.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ rp }}/static/styles/plugins/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ rp }}/static/styles/custom/base.css">
<link rel="stylesheet" type="text/css" href="{{ rp }}/static/styles/custom/about.css">
{% endblock %}
{% block content %}
<div id="wrapper">
<!-- Page Content -->
<div id="page-content-wrapper">
<div class="container-fluid">
    <div class="course-container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 about-article">
                <h1>The Problem</h1>
                <ul class="list2">
                    <li>Unstructued environment</li>
                    <li>No real-world problems</li>
                    <li>Little to no motivation</li>
                </ul>
                <p>
                    The problem with any online learning is the fact that it becomes so unstructured and loosely coupled that any real hardcore learning rarely takes place.  

                    The common approach of most learning platforms is to offer a very watered-down, simplistic, yet still enjoyable experience.  It is generally unstructured, meaning no time constraints and no real motivation other than the desire to learn, and most importantly no real-world applicability.  
                </p>
                <h1>Our Approach</h1>
                <ul class="list2">
                    <li>Scheduled Courses</li>
                    <li>Real-world problems</li>
                    <li>Competitive and Open-Source</li>
                </ul>
                <p>

                    Our approach takes a different view on how to make online learning the very best way to learn anything related to technology.  First and foremost, our courses are based on real-world problems, not academia.  Our courses are structured and offered at numerous times throughout the year, but the student is required to actively participate in a certain period of time.  This has two goals:  it keeps the student actively involved and provides greater motivation and likelihood to complete a course.  The most critical aspect of all of learning, especially highly technical and complex learning like programming, is to never ever water-down the material.  Oftentimes this is exactly what educators will do in order to reach a wider audience.  But in doing so, this leaves huge gaps in a learner’s knowledge base.  Unlike some other subjects, gaps in any sort of technology related course ends up being a huge liability, and usually the learner gives up out of frustration.  
                </p>
                </br>
                <p>
                    That's all well and good you say, but what about the learners?  What's to keep them motivated?  By a huge margin, the best motivator is trying to one-up your friends, and that's exactly what we encourage.  Our approach takes a traditionally non-competitive learning environment, and enforces competivitness not just to help the learner grow and stay motivated, but to help grow the community.  Competition is the foundation for some of the world's most creative and inspiring ideas, so why not incorporate it into online learning?
                </p>
            </div>
        </div>
    </div>
</div>
<!-- end/ fluid -->
</div>
</div>
{% endblock %}
{% block scripts %}
<script type='text/javascript' src='{{ rp }}/static/scripts/plugins/jquery-1.11.2.min.js'></script>
<script type="text/javascript" src="{{ rp }}/static/scripts/plugins/bootstrap.min.js"></script>
{% endblock %}












